USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 10/1/2026 4:19:37 PM ******/
CREATE DATABASE [HospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HospitalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[address_id] [varchar](255) NOT NULL,
	[street] [varchar](255) NULL,
	[city] [varchar](255) NULL,
	[state] [varchar](255) NULL,
	[zip] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Allergies]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allergies](
	[allergy_id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[allergy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment_log]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment_log](
	[Log_id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_id] [varchar](255) NULL,
	[patient_id] [varchar](255) NULL,
	[old_value] [varchar](max) NULL,
	[new_value] [varchar](max) NULL,
	[changed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[appointment_id] [varchar](255) NOT NULL,
	[patient_id] [varchar](255) NULL,
	[dateAndTime] [datetime] NULL,
	[reason] [varchar](255) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit_Log]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Log](
	[log_id] [varchar](255) NOT NULL,
	[user_id] [varchar](255) NULL,
	[action] [varchar](255) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[patient_id] [varchar](255) NULL,
	[appointment_id] [varchar](255) NULL,
	[total_amount] [float] NULL,
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[bill_code]  AS ('B'+right('000'+CONVERT([varchar](3),[bill_id]),(3))),
	[Paid] [varchar](1) NULL,
 CONSTRAINT [PK_Billing] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing_archive]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing_archive](
	[Archive_id] [int] IDENTITY(1,1) NOT NULL,
	[bill_id] [int] NULL,
	[patient_id] [varchar](255) NULL,
	[Archive_code]  AS ('AR'+right('000'+CONVERT([varchar](3),[Archive_id]),(3))),
PRIMARY KEY CLUSTERED 
(
	[Archive_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing_items]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing_items](
	[item_id] [varchar](255) NOT NULL,
	[bill_id] [int] NULL,
	[description] [varchar](255) NULL,
	[amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[department_id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnoses]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnoses](
	[diagnosis_id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
	[ICD_code] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagnosis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[doctor_id] [varchar](255) NOT NULL,
	[specialty] [varchar](255) NULL,
	[license_number] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurance_Providers]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance_Providers](
	[provider_id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Orders]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Orders](
	[order_id] [varchar](255) NOT NULL,
	[record_id] [varchar](255) NULL,
	[test_id] [varchar](255) NULL,
	[ordered_by] [varchar](255) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Results]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Results](
	[result_id] [varchar](255) NOT NULL,
	[order_id] [varchar](255) NULL,
	[results_value] [varchar](255) NULL,
	[normal_range] [varchar](255) NULL,
	[notes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lab_Tests]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lab_Tests](
	[test_id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
	[category] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical_Records]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Records](
	[record_id] [varchar](255) NOT NULL,
	[patient_id] [varchar](255) NULL,
	[doctor_id] [varchar](255) NULL,
	[appointment_id] [varchar](255) NULL,
	[notes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medications]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medications](
	[medication_id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
	[dosage_form] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[medication_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_address]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_address](
	[Type] [varchar](255) NULL,
	[patient_id] [varchar](255) NOT NULL,
	[address_id] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Allergies]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Allergies](
	[patient_id] [varchar](255) NULL,
	[allergy_id] [varchar](255) NULL,
	[severity] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Diagnosis]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Diagnosis](
	[record_id] [varchar](255) NULL,
	[diagnosis_id] [varchar](255) NULL,
	[severity] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Insurance]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Insurance](
	[policy_number] [varchar](255) NULL,
	[coverage_type] [varchar](255) NULL,
	[patient_id] [varchar](255) NOT NULL,
	[provider_id] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patient_id] [varchar](255) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[DOB] [date] NULL,
	[gender] [varchar](1) NULL,
	[contact_info] [varchar](255) NULL,
	[emergency_contact_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [varchar](255) NOT NULL,
	[bill_id] [int] NULL,
	[amount] [float] NULL,
	[method] [varchar](255) NULL,
	[Payment_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[prescription_id] [varchar](255) NOT NULL,
	[record_id] [varchar](255) NULL,
	[medication_id] [varchar](255) NULL,
	[dosage] [varchar](255) NULL,
	[frequency] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Assignments]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Assignments](
	[appointment_id] [varchar](255) NULL,
	[room_id] [varchar](255) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[room_id] [varchar](255) NOT NULL,
	[type] [varchar](255) NULL,
	[capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff_Departments]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff_Departments](
	[staff_id] [varchar](255) NULL,
	[department_id] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [varchar](255) NOT NULL,
	[staff_id] [varchar](255) NULL,
	[username] [varchar](255) NULL,
	[hashed_password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment_log] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[Appointment_log]  WITH CHECK ADD  CONSTRAINT [FK_Appointments] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[Appointment_log] CHECK CONSTRAINT [FK_Appointments]
GO
ALTER TABLE [dbo].[Appointment_log]  WITH CHECK ADD  CONSTRAINT [FK_patient_app_id] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[Appointment_log] CHECK CONSTRAINT [FK_patient_app_id]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [patient_id] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [patient_id]
GO
ALTER TABLE [dbo].[Audit_Log]  WITH CHECK ADD  CONSTRAINT [FK_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Audit_Log] CHECK CONSTRAINT [FK_user_id]
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD  CONSTRAINT [FK_appointment_id] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[Billing] CHECK CONSTRAINT [FK_appointment_id]
GO
ALTER TABLE [dbo].[Billing_archive]  WITH CHECK ADD  CONSTRAINT [ForeignKeyBill_patient_id] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[Billing_archive] CHECK CONSTRAINT [ForeignKeyBill_patient_id]
GO
ALTER TABLE [dbo].[Billing_items]  WITH CHECK ADD  CONSTRAINT [FK_BillingItem_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[Billing] ([bill_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Billing_items] CHECK CONSTRAINT [FK_BillingItem_bill]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [doctor_id] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctors] ([doctor_id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [doctor_id]
GO
ALTER TABLE [dbo].[Lab_Orders]  WITH CHECK ADD  CONSTRAINT [FK_record_id] FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Records] ([record_id])
GO
ALTER TABLE [dbo].[Lab_Orders] CHECK CONSTRAINT [FK_record_id]
GO
ALTER TABLE [dbo].[Lab_Orders]  WITH CHECK ADD  CONSTRAINT [FK_test_id] FOREIGN KEY([test_id])
REFERENCES [dbo].[Lab_Tests] ([test_id])
GO
ALTER TABLE [dbo].[Lab_Orders] CHECK CONSTRAINT [FK_test_id]
GO
ALTER TABLE [dbo].[Lab_Results]  WITH CHECK ADD  CONSTRAINT [FK_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[Lab_Orders] ([order_id])
GO
ALTER TABLE [dbo].[Lab_Results] CHECK CONSTRAINT [FK_order_id]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Appointment] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_MedicalRecords_Appointment]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[Doctors] ([doctor_id])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_MedicalRecords_Doctor]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_MedicalRecords_Patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_MedicalRecords_Patient]
GO
ALTER TABLE [dbo].[Patient_address]  WITH CHECK ADD  CONSTRAINT [FK_PatientAddress_Address] FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([address_id])
GO
ALTER TABLE [dbo].[Patient_address] CHECK CONSTRAINT [FK_PatientAddress_Address]
GO
ALTER TABLE [dbo].[Patient_address]  WITH CHECK ADD  CONSTRAINT [FK_PatientAddress_Patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[Patient_address] CHECK CONSTRAINT [FK_PatientAddress_Patient]
GO
ALTER TABLE [dbo].[Patient_Allergies]  WITH CHECK ADD  CONSTRAINT [FK_allergy_id] FOREIGN KEY([allergy_id])
REFERENCES [dbo].[Allergies] ([allergy_id])
GO
ALTER TABLE [dbo].[Patient_Allergies] CHECK CONSTRAINT [FK_allergy_id]
GO
ALTER TABLE [dbo].[Patient_Allergies]  WITH CHECK ADD  CONSTRAINT [FK_patient_id] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[Patient_Allergies] CHECK CONSTRAINT [FK_patient_id]
GO
ALTER TABLE [dbo].[Patient_Diagnosis]  WITH CHECK ADD  CONSTRAINT [diagnosis_id] FOREIGN KEY([diagnosis_id])
REFERENCES [dbo].[Diagnoses] ([diagnosis_id])
GO
ALTER TABLE [dbo].[Patient_Diagnosis] CHECK CONSTRAINT [diagnosis_id]
GO
ALTER TABLE [dbo].[Patient_Diagnosis]  WITH CHECK ADD  CONSTRAINT [record_id] FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Records] ([record_id])
GO
ALTER TABLE [dbo].[Patient_Diagnosis] CHECK CONSTRAINT [record_id]
GO
ALTER TABLE [dbo].[Patient_Insurance]  WITH CHECK ADD  CONSTRAINT [FK_PatientInsurance_Patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patient_id])
GO
ALTER TABLE [dbo].[Patient_Insurance] CHECK CONSTRAINT [FK_PatientInsurance_Patient]
GO
ALTER TABLE [dbo].[Patient_Insurance]  WITH CHECK ADD  CONSTRAINT [FK_PatientInsurance_provider] FOREIGN KEY([provider_id])
REFERENCES [dbo].[Insurance_Providers] ([provider_id])
GO
ALTER TABLE [dbo].[Patient_Insurance] CHECK CONSTRAINT [FK_PatientInsurance_provider]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[Billing] ([bill_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_bill]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Medication] FOREIGN KEY([medication_id])
REFERENCES [dbo].[Medications] ([medication_id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Medication]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Record] FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Records] ([record_id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Record]
GO
ALTER TABLE [dbo].[Room_Assignments]  WITH CHECK ADD  CONSTRAINT [appointment_id] FOREIGN KEY([appointment_id])
REFERENCES [dbo].[Appointments] ([appointment_id])
GO
ALTER TABLE [dbo].[Room_Assignments] CHECK CONSTRAINT [appointment_id]
GO
ALTER TABLE [dbo].[Room_Assignments]  WITH CHECK ADD  CONSTRAINT [room_id] FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([room_id])
GO
ALTER TABLE [dbo].[Room_Assignments] CHECK CONSTRAINT [room_id]
GO
ALTER TABLE [dbo].[Staff_Departments]  WITH CHECK ADD  CONSTRAINT [department_id] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Staff_Departments] CHECK CONSTRAINT [department_id]
GO
ALTER TABLE [dbo].[Staff_Departments]  WITH CHECK ADD  CONSTRAINT [staff_id] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Staff_Departments] CHECK CONSTRAINT [staff_id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_staff_id] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_staff_id]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddingBillingItem]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_AddingBillingItem]
	@item_id varchar(255),
	@bill_id int,
	@description varchar(255),
	@amount float
as
begin
	insert into Billing_items(item_id, bill_id, description, amount)
	values(@item_id, @bill_id, @description, @amount)
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_addPayment]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_addPayment]
	@payment_id varchar(255),
	@bill_id int,
	@amount float,
	@method varchar(255),
	@Payment_Date date
as
begin
	insert into Payments(payment_id, bill_id, amount, method, Payment_Date)
	values(@payment_id, @bill_id, @amount, @method, @Payment_Date)
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_createAppointment]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_createAppointment]
	@appointment_id varchar(250),
	@patient_id varchar(250),
	@dateAndTime DateTime,
	@reason varchar(250),
	@status varchar(250)
as
begin
	insert into Appointments (appointment_id, patient_id, dateAndTime, reason, status)
	values (@appointment_id, @patient_id, @dateAndTime, @reason, @status);
End;
GO
/****** Object:  StoredProcedure [dbo].[sp_FindPatients]    Script Date: 10/1/2026 4:19:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_FindPatients]
	@Name varchar(255)
as
Begin
	Set NOCOUNT On;

	select patient_id, Name, DOB, gender, contact_info, emergency_contact_id
	from Patients
	where Name = @Name
end
GO
USE [master]
GO
