USE [HospitalDB]
GO
/****** Object:  Trigger [dbo].[trg_appointment_log]    Script Date: 4/24/2026 3:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER trigger [dbo].[trg_appointment_log]
on [dbo].[Appointments]
After insert
as
begin
	insert into Appointment_log(appointment_id, patient_id, old_value, new_value, changed_at)
	select
		appointment_id, patient_id, NULL, 'appointment made', GETDATE()
	from inserted
end;